{% extends 'layout.html' %}
{% block content %}
    <ul>
      {% for booking in bookings: %}
      <li>
        {{ booking.booking_datetime}}
        <ul>
          <li>For {{booking.number_of_people}} people</li>
          <li><a  href="{{base_url}}/restaurants/{{booking.restaurant_id}}">Restaurant Profile</a></li>
          
          <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{booking.id}}/edit"> Edit </a>
          <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{booking.id}}/delete"> Delete </a>

        </ul>
      </li>
      {% endfor %}
    </ul>
    <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
{% endblock %}