<html>
 <body>
     {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% for category, message in messages %}
                    <p class="help-block">{{category}}, {{ message }}</p>
                {% endfor %}
             {% endfor %}
         {% endif %}
    {% endwith %}

  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit value="Submit">
  </form>
 </body>
</html>

