{% extends 'layout.html' %}

    {% block content %}
    {% if current_user.is_authenticated %}
         <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
                <div style="text-align: center; width: 400px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span style="color: grey" class="input-group-text" id="basic-addon1"> FirstName
                        </span>
                     </div>
                    <input id="firstname" aria-describedby="basic-addon1" type="text" class="form-control" name="firstname" value="{{user.firstname}}">
                </div>

                 <div style="text-align: center; width: 400px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span style="color: grey" class="input-group-text" id="basic-addon0"> LastName
                        </span>
                     </div>
                    <input id="firstname" aria-describedby="basic-addon0" type="text" class="form-control" name="lastname" value="{{user.lastname}}">
                </div>

                <div style="text-align: center; width: 400px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span style="color: grey" class="input-group-text" id="basic-addon4"> New Password
                        </span>
                     </div>
                    <input id="new_password" aria-labelledby="basic-addon2" type="password" class="form-control" name="new_password">
                </div>

                <div style="text-align: center; width: 400px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span style="color: grey"  class="input-group-text" id="basic-addon3"> Repeat Password
                        </span>
                     </div>
                    <input id="password_repeat" aria-labelledby="basic-addon3" type="password" class="form-control" name="password_repeat">
                </div>

                <div style="text-align: center; width: 400px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span style="color: grey"  class="input-group-text" id="basic-addon4"> Telephone
                        </span>
                     </div>
                    <input id="telephone" aria-labelledby="basic-addon4" type="text" class="form-control" value="{{user.phone}}" name="telephone">
                </div>

                <div style="text-align: center; width: 400px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span style="color: grey"  class="input-group-text" id="basic-addon5"> Date Of Birth
                        </span>
                     </div>
                    <input id="dateofbirth" aria-labelledby="basic-addon5" type="text" class="form-control" name="dateofbirth">
                </div>

                <div style="text-align: center; width: 400px" class="input-group m-3">
                    <div class="input-group-prepend">
                        <span style="color: grey"  class="input-group-text" id="basic-addon6"> SSN
                        </span>
                     </div>
                    <input id="ssn" aria-labelledby="basic-addon6" type="text" class="form-control" name="ssn">
                </div>

             <a class="btn btn-outline-secondary btn-sm" href="" data-toggle="modal" data-target="#ModifyUserModal" title="Modifica"> Modify </a>

        <!-- Modal MODIFICA UTENTE -->
        <div style="margin-top: 200px" class="modal fade" id="ModifyUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel"> <b> Do you want to confirm? </b> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post" novalidate>
              <div class="modal-body">
                <h5> Insert password to confirm </h5>
                <div style="text-align: center; width: 400px" class="input-group m-3">
                    <input id="old_password" aria-labelledby="basic-addon2" type="password" class="form-control" name="old_password" placeholder="Old Password">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary my-2 my-sm-0" data-dismiss="modal"> Cancel </button>
                <button type="submit" id="submit" class="btn btn-secondary my-2 my-sm-0"> Confirm </button>
              </div>
              </form>
            </div>
          </div>
        </div>

   </form>

  {% endif %}
  {% endblock %}

