{% extends 'homepage.html' %}
    {% block content %}
        {% if current_user.is_authenticated %}
          <h3>Hi {{ current_user.firstname }}!<h3>
          {% if current_user.is_operator %}
            <h4>Your Restaurants</h4>
            {% for restaurant in restaurants%}
              <div>
                <li>
                 <a href="/restaurants/{{ restaurant.id }}"> {{restaurant.name}}  </a> -- Likes: {{restaurant.likes}} <a href="/restaurants/{{ restaurant.id }}/edit"> Edit Restaurant  </a>
                </li>
              </div>
            {% endfor %}
          {% endif %}

        {% else %}
            <h2>Welcome to GoOutSafe</h2>
          Hi Anonymous, if you already have an account <a href="/login">Log in</a>
            <p></p>
            Otherwise:
            <ul>
                <li><a href="/create_user">Sign in as Customer</a> </li>
                <li><a href="/create_operator">Sign in as Restaurant's Operator</a> </li>
            </ul>


        {% endif %}
    {% endblock %}