{% extends 'layout.html' %}
    {% block content %}
        {% if current_user.is_authenticated %}
          Hi {{ current_user.firstname }}! <a href="/logout">Logout</a>

          {% if current_user.is_operator %}
            <h2>Your Restaurants</h2>
            {% for restaurant in restaurants%}
              <div>
                <li>
                 <a href="/restaurants/{{ restaurant.id }}"> {{restaurant.name}}  </a> -- Likes: {{restaurant.likes}}
                </li>
              </div>
            {% endfor %}
            {% endif %}

        {% else %}
          Hi Anonymous, if you already have an account <a href="/login">Log in</a>
            <p></p>
            Otherwise:
            <ul>
                <li><a href="/create_user">Sign in as Customer</a> </li>
                <li><a href="/create_operator">Sign in as Restaurant's Operator</a> </li>
            </ul>


        {% endif %}
    {% endblock %}