{% extends 'homepage.html' %}
    {% block content %}
        {% if current_user.is_authenticated %}

            {% for notification in notifications  %}
                {% if notification.read_on is none %}
                    <div class="alert alert-danger" role="alert">
                        <strong>
                            {{ notification.content }} <a href="{{ notification.url }}/mark_as_read" class="alert-link">Mark as read</a>
                        </strong>
                    </div>
                {% endif %}
            {% endfor %}


            <h3>Welcome back {{ current_user.firstname }}!</h3>

          {% if current_user.is_operator %}
            {% if current_user.rest_id is none %}
                <br>
                Create your restaurant <a href="/create_restaurant">here</a>
            {% else %}
                <br>
                <h3>Your Restaurant:</h3>
                {% for restaurant in restaurants %}
                <div>
                    <h5>
                    <li>
                        <a href="/restaurants/{{ restaurant.id }}"> {{restaurant.name}}  </a>
                        {{ restaurant.rating_val | round( 1, 'ceil') }}/5 Stars with {{restaurant.rating_num}} ratings
                    </li>   
                    </h5>
                </div>
                    <br>
                    <a class="btn btn-outline-secondary btn-sm"  href="/restaurants/{{ restaurant.id }}/overview"> Reservations overview  </a>
                    <a class="btn btn-outline-secondary btn-sm"  href="/restaurants/{{ restaurant.id }}/reservations/today"> Today's Reservations  </a>
                    <a class="btn btn-outline-secondary btn-sm"  href="/restaurants/{{ restaurant.id }}/reservations"> Search Reservations  </a>
                    <a class="btn btn-outline-secondary btn-sm"  href="/restaurants/{{ restaurant.id }}/edit"> Edit Restaurant  </a>
                {% endfor %}
            {% endif %}
          {% endif %}

        {% else %}
            <h2>Welcome to GoOutSafe</h2>
          Hi Anonymous, if you already have an account <a href="/login">Log in</a>
            <p></p>
            Otherwise:
            <ul>
                <li><a href="/create_user">Sign up as Customer</a> </li>
                <li><a href="/create_operator">Sign up as Restaurant's Operator</a> </li>
            </ul>

        {% endif %}
    {% endblock %}