<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>GoOutSafe</title>

  <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>


  <body>
    <h3>GoOutSafe</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                    <p class="help-block">{{category}}, {{ message }}</p>
                    {% elif category == 'error' %}
                     <p class="help-block">{{category}}, {{ message }}</p>
                    {% elif category == "warning" %}
                     <p class="help-block">{{category}}, {{ message }}</p>
                    {% endif %}
                {% endfor %}
             {% endfor %}
         {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}

  </body>
</html>