{% extends 'layout.html' %}
{% block content %}
  <header class="py-5 bg-image-full" style="height:700px;">
    <img style="padding-bottom: 30px" class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
    <form align="center" action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <button type="submit" class="btn btn-secondary"> Login </button>
  </form>
  </header>
{% endblock %}
