{% extends 'layout.html' %}
    {% block content %}
        {% if current_user.is_authenticated %}

            {% if notifications %}
                {% if current_user.is_operator %}

                    <h5> To read </h5>
                    {% for notification in notifications %}

                        {% if notification.already_read == False %}

                            {% if notification.operator_notification_type == 1 %}

                                <div class="alert alert-danger" role="alert">
                                    <strong>
                                        A customer that has been in your restaurant in the last 14 days is positive.
                                        <a href="/notifications/{{ notification.notification_id }}/mark_as_read" class="alert-link">Mark as read</a>
                                    </strong>
                                </div>

                            {% else %}

                                <div class="alert alert-danger" role="alert">
                                <strong>
                                     The customer:
                                     <ul>
                                        <li> Email: {{ notification.user_positive_email }}</li>
                                        <li> Name: {{ notification.user_positive_name }}</li>
                                        Was marked Covid-19 positive. Please delete the reservation in date:
                                        <li> Datetime: {{ notification.user_booking_date }}</li>
                                      </ul>

                                     <a href="/notifications/{{ notification.notification_id }}/mark_as_read" class="alert-link">Mark as read</a>
                                </strong>
                                </div>

                            {% endif %}

                        {% endif %}
                    {% endfor %}

                     <h5>Already read </h5>

                    {% for notification in notifications %}
                        {% if notification.already_read == True %}
                            {% if notification.operator_notification_type == 1 %}

                                <div class="alert alert-dark" role="alert">
                                    A customer that has been in your restaurant in the last 14 days is positive.
                                </div>

                            {% else %}
                                <div class="alert alert-dark" role="alert">
                                     The customer:
                                 <ul>
                                    <li> Email: {{ notification.user_positive_email }}</li>
                                    <li> Name: {{ notification.user_positive_name }}</li>
                                 </ul>
                                 <ul>
                                    Was marked Covid-19 positive. Please delete the reservation in date:
                                    <li> Datetime: {{ notification.user_booking_date }}</li>
                                  </ul>
                                </div>
                             {% endif %}
                        {% endif %}
                    {% endfor %}

                {% else %}

                    <h5> To read </h5>
                    {% for notification in notifications %}
                        {% if notification.already_read == False %}
                            <div class="alert alert-danger" role="alert">
                            <strong> [{{notification.datetime}}] - You have had contact with a Covid-19 positive in the last 14 days.
                                 <a href="/notifications/{{ notification.notification_id }}/mark_as_read" class="alert-link">Mark as read</a>
                            </strong>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <h5>Already read </h5>
                    {% for notification in notifications %}
                        {% if notification.already_read == True %}
                            <div class="alert alert-dark" role="alert">
                             [{{notification.datetime}}] - You have had contact with a Covid-19 positive in the last 14 days.
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% else %}
                 <div class="alert alert-dark" role="alert">
                     You don't have notifications.
                 </div>
            {% endif %}
        {% endif %}
    {% endblock %}