{% extends 'layout.html' %}
{% block content %}
    <ul>
      {% for positive in positives: %}
      <li>
        {{positive.lastname}} {{positive.firstname}}
        <ul>
          <li>Date Of Birth: {{positive.dateofbirth.strftime("%d %b %Y")}}</li>
          <li>Email: {{positive.email}}</li>
          <li>Telephone: {{positive.phone}}</li>
          {% if positive.ssn %}
            <li>SSN: {{positive.ssn}}</li>
          {% else %}
            <li>SSN: Not Inserted</li>
          {% endif %}
          {% if positive.is_positive %}
            <li>Positive since: {{positive.positive_datetime.strftime("%d %b %Y, %H:%M")}}</li>
            <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/positives/{{positive.id}}/unmark"> Unmark </a>
          {% else %}
            <li>Negative</li>
            <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/positives/{{positive.id}}/mark"> Mark </a>
            </form> 
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
{% endblock %}