{% extends 'layout.html' %}
{% block content %}
    <ul>
      {% for positive in positives: %}
      <li>
        {{positive.lastname}} {{positive.firstname}}
        <ul>
          <li>Date Of Birth: since {{positive.dateofbirth}}</li>
          <li>Email: {{positive.email}}</li>
          <li>Telephone: {{positive.phone}}</li>
          {% if positive.ssn %}
            <li>SSN: {{positive.ssn}}</li>
          {% else %}
            <li>SSN: Not Inserted</li>
          {% endif %}
          {% if positive.is_positive %}
            <li>Positive since: {{positive.positive_datetime}}</li>
            <form action="{{base_url}}/positives/{{positive.id}}/unmark">
              <input type=hidden />
              <input type=submit value="Unmark" />
            </form> 
          {% else %}
            <li>Negative</li>
            <form action="{{base_url}}/positives/{{positive.id}}/mark">
              <input type=hidden />
              <input type=submit value="Mark" />
            </form> 
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <a href="/"> Back to Homepage </a>
{% endblock %}