{% extends 'layout.html' %}
    {% block content %}
          {% if current_user.is_operator %}
            <h2>Your Reservations</h2>
              <div>
                  <li>Reservation Id: {{reservation.Booking.id}}</li>
                  <li>Customer: {{reservation.User.lastname}} {{reservation.User.firstname}}</li>
                  <li>For {{reservation.Booking.people_number}} people</li>
                  <li>At: {{reservation.Booking.booking_datetime.strftime("%a %d %b %Y, %H:%M")}}</li>
                  <li>Phone: {{reservation.User.phone}}</li>
                  <li>Email: {{reservation.User.email}}</li>
                  
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.Booking.id}}/delete"> Delete </a>
              </div>

          {% endif %}
         <br>
          <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
    {% endblock %}