{% extends 'layout.html' %}
    {% block content %}
          {% if current_user.is_operator %}
            <h2>Your Reservations</h2>
            {% for reservation in reservations%}
              <div>
                <li>
                  {{reservation.Booking.person_number}} person at {{reservation.Booking.booking_datetime.strftime("%a %d %b %Y, %H:%M")}} by {{reservation.User.lastname}} {{reservation.User.firstname}} 
                  
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.Booking.id}}"> Detail </a>
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.Booking.id}}/delete"> Delete </a>
                </li>
              </div>
            {% endfor %}

          {% endif %}
        <br>
        <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
    {% endblock %}