{% extends 'layout.html' %}
    {% block content %}
          {% if current_user.is_operator %}
              {% for reservation in reservations%}
              <div>
                <li>
                  {{reservation.User.lastname}} {{reservation.User.firstname}} 
                    <ul>
                      <li> {{reservation.Booking.people_number}} people</li>
                      <li> On {{reservation.Booking.booking_datetime.strftime("%a %d %b %Y, %H:%M")}}</li>
                        {% if reservation.Booking.entrance_datetime is not none %}
                        <li>
                          Entrance registered on: {{reservation.Booking.entrance_datetime.strftime("%a %d %b %Y, %H:%M")}}
                        </li>
                        {% endif %}
                    </ul>
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.Booking.id}}"> Detail </a>
                  {% if reservation.Booking.entrance_datetime is none %}
                    <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.Booking.id}}/entrance"> Register Entrance </a>
                  {% endif %}
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.Booking.id}}/delete"> Delete </a>
                </li>
              </div>
            {% endfor %}

          {% endif %}
        <br>
        <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
    {% endblock %}