{% extends 'layout.html' %}
    {% block content %}
          {% if True or current_user.is_operator %}
              {% for reservation in reservations%}
              <div>
                <li>
                  {{reservation.user.lastname}} {{reservation.user.firstname}} 
                    <ul>
                      <li> {{reservation.number_of_people}} people</li>
                      <li> On {{reservation.booking_datetime}}</li>
                        {% if reservation.entrance_datetime is not none %}
                        <li>
                          Entrance registered on: {{reservation.entrance_datetime}}
                        </li>
                        {% endif %}
                    </ul>
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.id}}"> Detail </a>
                  {% if reservation.entrance_datetime is none %}
                    <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.id}}/entrance"> Register Entrance </a>
                  {% endif %}
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.id}}/delete"> Delete </a>
                </li>
              </div>
            {% endfor %}

          {% endif %}
        <br>
        <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
    {% endblock %}