{% extends 'layout.html' %}
    {% block content %}
          {% if current_user.is_operator %}
            <h2>Your Reservation</h2>
              <div>
                  <li>Reservation Id: {{reservation.id}}</li>
                  <li>Customer: {{reservation.user.lastname}} {{reservation.user.firstname}}</li>
                  <li>For {{reservation.number_of_people}} people</li>
                  <li>At: {{reservation.booking_datetime | datetime}}</li>
                  <li>Phone: {{reservation.user.phone}}</li>
                  <li>Email: {{reservation.user.email}}</li>
                  {% if reservation.entrance_datetime is not none %}
                    <li>
                          Entrance registered on: {{reservation.entrance_datetime | datetime}}
                    </li>
                  {% endif %}

                  {% if reservation.entrance_datetime is none %}
                    <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.id}}/entrance"> Register Entrance </a>
                  {% endif %}
                  
                  <a class="btn btn-outline-secondary btn-sm"  href="{{base_url}}/reservations/{{reservation.id}}/delete"> Delete </a>
              </div>

          {% endif %}
         <br>
          <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
    {% endblock %}