{% extends 'layout.html' %}
{% block content %}
    {% if message %}
     <div class="alert alert-warning alert-dismissible" role="alert">{{ message }}</div>
    {% endif %}
    <h3>Restaurant List</h3>
    <br>
    <ul>
      {% for restaurant in restaurants: %}
      <li>
        <h4>{{restaurant.name}}</h4>
        <h5>
            {{restaurant.cuisine_type}}, {{restaurant.likes}} Likes
            <br>
        </h5>
      {% if current_user.is_authenticated %}
      <a class="btn btn-outline-secondary btn-sm" href="{{base_url}}/{{restaurant.id}}/like">Like it</a>
      <a class="btn btn-outline-secondary btn-sm" href="{{base_url}}/{{restaurant.id}}">See Details</a>
      {% endif %}

      </li>
      {% endfor %}
    </ul>
    <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
{% endblock %}