{% extends 'layout.html' %}
{% block content %}
    <h1>{{name}} -- Likes: {{likes}}</h1> 
    <h2>Phone: {{phone}}</h2>
    <div class="cuisine_type">
      <h3>Cuisine type:</h3>
      {{cuisine_type}}
    </div>

    <ul>
      <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
      src="https://www.openstreetmap.org/export/embed.html?bbox={{lon - 0.001}}%2C{{lat - 0.001}}%2C{{lon + 0.001}}%2C{{lat + 0.001}}&amp;layer=mapnik&amp;marker={{lat}}%2C{{lon}}" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/{{lat}}/{{lon}}">See it Larger</a></small>
    </ul>

    <div class="menu">
      <h3>Menu</h3>
      {{menu}}
    </div>

    <div class="opening_hours">
      <h3>Opening hours</h3>
      <p>Lunch: {{lunch_opening}}:00 - {{lunch_closing}}:00</p>
      <p>Dinner: {{dinner_opening}}:00 - {{dinner_closing}}:00</p>
    </div>

    <div class="closed_days">
      Closed days:
      <ul>
        {% for day in closed_days: %}
          <li>{{day}}</li>
        {% endfor %}
      </ul>
    </div>
    {% if current_user.is_operator and current_user.rest_id == id %}
      <a href="/restaurants/{{ id }}/edit"> Edit Restaurant  </a>
      <div class="restaurant_tables">
        <h3>Your bookings</h3>
        <ul>
          {% for table in tables: %}
            <li>
              Capacity: {{table.capacity}}
              <a href="{{base_url}}/tables/{{table.id}}/edit">Edit</a>
              <a href="{{base_url}}/tables/{{table.id}}/delete">Delete</a>
            </li>
          {% endfor %}
          <li><a href="{{base_url}}/tables/add">Add a table</a></li>
        </ul>
      </div>
    {% endif %}

    {% if not current_user.is_operator %}
    <form action="{{base_url}}/restaurants/{{id}}/book">
      <input type="submit" value="Book a Table!" />
    </form>
    {% endif %}


    <a href="/"> Back to Homepage </a>
{% endblock %}

