{% extends 'layout.html' %}
{% import 'rating.html' as rating %}
{% block content %}
    <h1 style="color: darkred">{{name}}</h1>
    <h4>{{ rating_val | round( 1, 'ceil') }}/5 Stars with {{rating_num}} ratings | {{ rating.rating(id,form) }}</h4>
    <h4>Phone: {{phone}}</h4>
    <div class="cuisine_type">
    <h4>Cuisine type: {{cuisine_type}}</h4>

    </div>
    <br>
    <ul>
      <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
      src="https://www.openstreetmap.org/export/embed.html?bbox={{lon - 0.001}}%2C{{lat - 0.001}}%2C{{lon + 0.001}}%2C{{lat + 0.001}}&amp;layer=mapnik&amp;marker={{lat}}%2C{{lon}}" style="border: 1px solid black">
      </iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/{{lat}}/{{lon}}">See it Larger</a></small>
    </ul>

    <div class="menu">
      <h4>Menu</h4>
      {{menu}}
    </div>
    <br>
    <div class="opening_hours">
      <h4>Opening hours</h4>
        <p> First Opening:
        {% if first_opening_hour is none %}
             closed
        {% else %}  {{first_opening_hour}}:00 -  {{first_closing_hour}}:00
        {% endif %}
        </p>
      {% if second_opening_hour is not none %}
      <p>Second Opening:
        {{second_opening_hour}}:00 -  {{second_closing_hour}}:00
        </p>
        {% endif %}
    </div>

    <div class="closed_days">
      Closed days:
      <ul>
        {% for day in closed_days: %}
          <li>{{day}}</li>
        {% endfor %}
      </ul>
    </div>
    {% if current_user.is_operator and current_user.rest_id == id %}

      <div class="restaurant_tables">
      <br>
        <h4>Your Reservations</h4>
        <ul>
          {% for table in tables: %}
            <li> Table with Capacity: {{table.capacity}} people
              <a  href="{{base_url}}/tables/{{table.id}}/edit">Edit</a>
              <a  href="{{base_url}}/tables/{{table.id}}/delete">Delete</a>
            </li>
          {% endfor %}
          <li><a href="{{base_url}}/tables/add">Add a table</a></li>
        </ul>
      </div>
       <br>
      <a class="btn btn-outline-secondary btn-sm" href="/restaurants/{{ id }}/edit"> Edit Restaurant  </a>
    {% endif %}

    {% if not current_user.is_operator %}
    <form action="{{base_url}}/restaurants/{{id}}/book">
      <a  class="btn btn-outline-secondary btn-sm" href="/restaurants"> Back to List</a>
      <input class="btn btn-outline-secondary btn-sm" type="submit" value="Book a Table!" />
    </form>
    {% endif %}

{% endblock %}

