{% extends 'layout.html' %}
{% block content %}
    {% if message %}
     <div class="alert alert-warning alert-dismissible" role="alert">{{ message }}</div>
    {% endif %}
    <h2 style="color: darkred">Restaurant List <br>  <a class="btn btn-outline-secondary btn-sm" href="{{base_url}}/search"> Search a Restaurant</a> </h2>
    <br>
    <ul>
      {% for restaurant in restaurants: %}
      <li>
        <h4>{{restaurant.name}}</h4>
        <h5>
            {{restaurant.cuisine_type}},
            {% if restaurant.likes is none %}
                No Likes
            {% else %} {{restaurant.likes}} Likes
            {% endif %}
            <br>
        </h5>
      {% if current_user.is_authenticated %}
      <a class="btn btn-outline-secondary btn-sm" href="{{base_url}}/{{restaurant.id}}/like">Like it</a>
      <a class="btn btn-outline-secondary btn-sm" href="{{base_url}}/{{restaurant.id}}">See Details</a>
      {% endif %}
      </li>
      <br>
      {% endfor %}
    </ul>
    <br>
     {{googlemap("sndmap",
        lat=43.72,
        lng=10.40,
        markers = sndmap.markers,
        style = sndmap.style,
        zoom=sndmap.zoom)}}
    <br>
    <a class="btn btn-outline-secondary btn-sm"  href="/"> Back to Homepage </a>
{% endblock %}